body {
    color: #40514E;
    background-color: #E4F9F5;
    font-family: 'Merriweather', serif;
    margin: 0px;
    padding-top: 100px;
    text-align: center;
    font-size: 1em;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 4.625rem;
    margin-top: 0px;
    margin-bottom: 0px;
}


h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: dotted 5px;
    border-bottom: none;
    color: #EAF6F6;
    width: 10%;
    margin: 10% auto;
}

p {
    line-height: 1.5;
}

#program {
    margin: 0 auto ;
}

.top_container {
    background-color: #E4F9F5;
    position: relative;
}


.middle_container {
    background-color: #FFFFFF;
}



.bottom_container {
    background-color: #FFFFFF;
}

.profile {
    margin: 0 auto;
    width: 50%;
}

.skill-row {
    margin: 80px auto 80px auto;
    text-align: left;
    width: 50%;
    line-height: 1.5;
}

.contact-me {
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}

.bottom_container {
    background-color: #66BFBF;
    padding: 20px 0 20px;
}

/* .code-skill-desc {
    clear: left;
}

.chilli-skill-desc {
    clear: right;
} */

.pana-img {
    /* width: 80%; */
  object-fit: contain;
  width: 100%;
  height: 400px
}

.image-img {
    margin: 20px auto 0px auto;
}

.code-img {
    width: 30%;
    float: left;
    padding: 20px;
}

.chilli-img {
    width: 30%;
    float: right;
    padding: 20px;
}

.contact-message {
    margin: 40px auto 60px;
}

.btn {
    margin: 50px auto 0;
    position: relative;
    bottom: 30px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.50rem;
    margin-bottom: 0px;
}

.pro {
    text-decoration: underline;
}


.footer-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    margin: 10px 10px;
    /* top: 10px; */
    text-decoration: none;
    /* padding: 20px; */

}

a:hover {
    color: #EAF6F6;
}